body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 12
  font-weight: 300;
  background: url(blank.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
img#Headshot{float: right; 
  border: 1px solid grey;
  border-radius: 9999999px;
  box-shadow: 10px 10px 5px grey;
}
body{background-image: url(football-field.jpg); 
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#wrapper {
  background-color: white;
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}
.jumbotron {
background-color: #535C5F;
}