body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(blank.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
img#Headshot{float: right}
h4{float: left}